.big-button {
    width: 170px; /* Adjust width */
    height: 250px; /* Adjust height */
    font-size: 2rem; /* Adjust font size */
}
.big-icon {
    font-size: 50px; /* Adjust size as needed */
}
body {
    background-image: url('../images/Untitled-1.png');
    background-color: rgb(192, 192, 192); /* Path to your image */
    background-size: cover;         /* Ensures the image covers the entire page */
    background-position: center;    /* Centers the image */
    background-repeat: no-repeat;   /* Prevents the image from repeating */
    background-attachment: fixed;   /* Keeps the background fixed on scroll */
}
/* Modal Custom Styles */
.modal-content {
    background-color: #ffffff; /* Light background */
    border-radius: 8px; /* Rounded corners */
    padding: 20px;
}

.modal-header {
    color: rgb(0, 0, 0);
    border-bottom: 1px solid #ffffff;
}

.modal-footer {
    padding: 15px 20px;
    border-top: none;
}

/* Form input fields and button styles */
.form-control {
    border-radius: 5px;
    margin-bottom: 0px;
}

.btn-secondary {
    border-radius: 5px;
}
